html, body { height: 100%;
    font-family: "Arial";}
.container { min-height: 100%;
            max-width: 1366px;
            margin: 0 auto;}

header, section{
    padding: 50px;
}
header {
    min-height: 223px;
    background-color: #4a5262;
}
main { background-color: white; }
.clr { height: 27px; }
footer {
    text-align: center;
    height: 27px;
    background-color: #f5f5f5;
    margin-top: -27px;
    clear: both;
}
h1 {
    color: white;
}

.text {
    display: inline-block;
    float: left;
    color: rgb(255, 255, 255);
    text-align: left;
}
.callus {
    position: fixed;
    z-index: 2;
    opacity: 0.3;
    right: 77px;
    border-radius: 69px;
    padding: 16px;
    text-align: center;
    width: 124px;
    background-color: #495261;
}
.callus a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
.callus:hover {
    opacity: 1;
}
.callus:hover a{
    color: whitesmoke;
}
.callus:active {
    background-color: aquamarine;
}
.callus p{
    margin: 2px;
}
header ul {
    font-size:18px;
    margin-top:50px;
    margin-left: 30px;
    list-style-image: url(img/check.png);
    line-height: 28px;
}
header svg {
    float: right;
}
svg text {
    font-size: 60px;
    stroke:black;
    stroke-width: 0.5;
    fill:none;
}
.clearfix {
    clear: both;}
section h2 {
    font-size: 30px;
    color: rgb(74, 82, 97);
    line-height: 1.2;
    text-align: center;
}
#about h2 {
    text-align: left;
}
#about  p {
    display: inline-block;
    margin-top: 30px;
    max-width:653px;
}
#about video {
    float: right;
    margin-right: 50px;
}

section ul {
    font-size: 16px;
    color: rgb(54, 54, 54);
    line-height: 1.5;
    text-align: left;
    margin-top:30px;
    list-style: none;
    float: left;
    min-height: 270px;
    padding-left: 30px;
    margin-right: 30px;
}

#pluses li {
    margin-bottom: 10px;
    max-width: 526px;
    background: url("img/plus.jpg") no-repeat;
    padding-left: 40px;
}
.screenshot {
    display: inline-block;
    margin-top:30px;
    float: left;
    margin-right: 58px;
}
.screenshot img{
    float: left;
    width: 200px;
    height: 150px;
}
.description {
    float: right;
    margin-left:15px;
}
.screenshot h3 {
    margin-top: -3px;
               font-size: 24px;
               color: rgb(74, 82, 97);
               text-align: left;
}
.screenshot p {
    margin-top: -13px;
    font-size: 16px;
    color: rgb(54, 54, 54);
    line-height: 1.5;
    text-align: left;
    max-width: 360px;
}
#reviews {
    background-color: #f4f4f4;
}
blockquote {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 50px;
    display: inline-block;
    float: left;
    background: url("img/review.png") no-repeat #f4f4f4 92px;
}
blockquote img{
    float: left;
    border-radius: 100px;
    width: 75px;
    height: 75px;
}
.comment {
    float: right;
    margin-left:34px;
    padding:10px;
}

blockquote p {
    font-size: 14px;
    color: rgb(54, 54, 54);
    font-style: italic;
    line-height: 1.286;
    text-align: left;
    max-width: 440px;
    margin-bottom:8px;
    margin-top: 8px;
}
cite {
    margin-top:10px;
    font-size: 14px;
    color: rgb(151, 151, 151);
    text-align: left;
}
#buy {
    min-height: 570px;
    padding: 50px;
}
#blink {
    -webkit-animation: blink 3s linear infinite;
    animation: blink 3s linear infinite;
}
@-webkit-keyframes blink {
    0% { color: rgba(179, 248, 85, 1); }
    50% { color: rgba(99, 78, 114, 0); }
    100% { color: rgba(99, 69, 118, 1); }
}
@keyframes blink {
    0% { color: rgba(179, 248, 85, 1); }
    50% { color: rgba(99, 78, 114, 0); }
    100% { color: rgba(99, 69, 118, 1); }
}
.item {
    display: inline-block;
    margin: 50px 50px;
    border-radius: 12px;
    border: 3px solid #495261;
    width: 296px;
    background-color: #495261;
    min-height: 306px;
}
.item h3 {
    line-height: 1.75;
    height: 50px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.item p {
    background-color: white;
    text-align: center;
    line-height: 66px;
    font-size: 40px;
    color: rgb(73, 82, 97);
}
.item ol {
    list-style-position: inside;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 15px;
    line-height: 1.75;
}
.item a {
    margin: 15px;
    height: 40px;
    display: inline-block;
    width: 270px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    color: rgb(74, 82, 97);
    font-weight: bold;
    line-height: 2.25;
}
.item a:hover {
    background-color: #495261;
    color: white ;
}
#contacts h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#contacts {
    padding: 50px 250px;
    background-color: #495261;
}
fieldset {
    border: none;
}
form {

    float: left;
    max-width: 500px;
    margin-top: 30px;
}
input,textarea {
    font-family: Arial;
    font-size: 16px;
    color: rgb(73, 82, 97);
    line-height: 1.5;
    border: none;
    padding: 3px;
    margin-bottom: 18px;
    border-radius: 6px;
    resize: none;
    width: 500px;
}
input:focus, textarea:focus {
    outline: none;
}
#submit {
    width: 140px;
    height: 42px;
    display: block;
    margin: 0 auto;
}
#submit:hover {
    background-color: #495261;
    color: white ;
}

#submit:active{
    background-color: aquamarine;
}
address {
    float: left;
    margin-left: 60px;
    margin-top:32px;
}
address a{
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 2.5;
}
address a:hover {
    color: aquamarine;
}
