@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    margin: 0 auto;
    min-height: 100%;
}

header {
    background: linear-gradient(45deg, #c6e2ff, #0079cf);
    padding: 50px;
}
header h3, h1 {
    float: right;
    color: whitesmoke;
}
.logo {

    display: inline-block;
    float: left;
}
.logo img {
    border-radius: 50%;
    height: 150px;
}
h1 {
    font-size: 46px;
}
header a {
    margin-top: 20px;
    display: block;
    float: right;
    margin-left: 30px;
    text-decoration: none;
    background:whitesmoke;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 250px;
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    color: #212121;
    font-size: 16PX;
    font-weight: 700;
}
header a:hover {
    box-shadow: none;
}
.clearfix {
    clear: both;
}
h2 {
    color: #81bdee;
    font-size: 40px;
    text-align: center;
}
main {
    padding: 50px;
}
ul, ol {
    padding-left: 0;
    list-style-position: inside;
}
li {
    line-height: 30px;
}
.clr {
    min-height: 150px;
}
footer {
    text-align: center;
    padding: 0px 150px;
    min-height: 150px;
    margin-top: -150px;
    background: linear-gradient(45deg, #c6e2ff, #0079cf);
}
footer h2{
    color: whitesmoke;
    padding: 50px;
    margin: 0;
}
footer p {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    max-width: 240px;
    margin-right: 156px
}
footer img {
    height: 40px;
    margin-right: 20px;
}
footer a {
    text-decoration: none;
    color: black;
    line-height: 40px;
}
footer a:hover {
    text-decoration: underline;
}
#sponsors {
    text-align: center;
}
#sponsors h2 {
    margin-bottom: 70px;
}
#sponsors a {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 420px;
    min-height: 130px;
    text-decoration: none;
    margin: 10px;
    border-radius: 4px;
    border-bottom-right-radius: 10%;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
    padding: 25px;
    margin-top: 32px;
    position: relative;
    top: 0px;
}
#sponsors a:hover {
    font-weight: 700;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;

}
#sponsors a:active {
    font-weight: 700;
    color: #0079cf;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}
#sponsors a:focus {
    outline: none;
}
#fu {
    height: 180px;
}
#kppl {
    height: 98px;
}
#partners {
    text-align: center;
}
#partners img {
    height: 88px;
    padding: 20px;
}
#button {
    text-align: center;
    font-size: 20px;
}
#button a {
    padding: 8px;
    margin: 20px;
    display: inline-block;
    text-decoration: none;
    background: whitesmoke;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    color: #212121;
    font-size: 22PX;
    font-weight: 700;
}
#button a:hover {
    box-shadow: none;
}

@media screen and (max-device-width: 414px) {
    h4 {
        text-align: center;
    }
    #sponsors a {
    display: inline-block;
    width: 310px;
    min-height: 130px;
    text-decoration: none;
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }
    #kppl {
        width: 273px;
        height: 80px;
    }
    #button a {
        padding:5px;
    }
    header {
        text-align: center;
        padding: 20px;
    }
    header h1 {
        font-size: 45px;
    }
    header a {
        display: inline-block;
        float: none;
        margin-left: 0;
    }
    .logo {
        float: none;
    }
    main {
        padding: 20px;
    }
    footer {
        padding: 40px;
    }
    footer h2 {
        padding: 20px;
    }
    footer p{
        margin-right: 0;
    }
}
@media screen and (max-device-width: 325px) {
    #sponsors a {
        width:260px;
    }

    #kppl {
        width: 230px;
        height: 62px;
    }
    #partners img {
        height: 75px;
    }
    h2 {
        font-size: 36px;
    }
}